@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700i&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
}

.container {
  width: 95%;
  margin: 0 auto;
}

input[type="search"] {
  display: block;
  width: 100%;
  max-width: 600px;
  height: 40px;
  border: 1px solid rgb(45, 57, 69);
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  color: rgb(45, 57, 69);
  margin: 25px auto;
  transition: .5s ease-in-out;
}

input:hover {
  background-color: rgba(70, 105, 139, .2);
}

input:focus {
  border: 2px solid rgb(70, 105, 139);
  background-color: rgba(70, 105, 139, .2);
  outline: none;
}

input::placeholder {
  color: rgba(45, 57, 69, .5);
  text-align: center;
  font-size: 1em;
}

.photo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.photo-container img {
  width: 250px;
  /* max-width: 100%; */
}

.thumbnail-img {
  position: relative;
  overflow: hidden;
  margin: 20px;
  border: 3px solid rgba(70, 105, 139, .5);
  transition: opacity .5s ease-in-out;
}

.thumbnail-img:hover {
  opacity: .5;
  border: 3px solid rgba(70, 105, 139, 1);
}

/* Lightbox styles */
.lightcase-icon-close:before {
  content: 'X';
}

.lightcase-icon-prev:before {
  content: '\003c';
}

.lightcase-icon-next:before {
  content: '\003e';
}

#lightcase-info,
#lightcase-caption {
  width: 100%;
  text-align: center;
  font-size: 1.25em !important;
}

.lightcase-icon-play,
.lightcase-icon-pause {
  display: none !important;
}

@media (min-width: 640px) {

  /* .photo {
    margin: 15px;
  } */
}



